---
layout: page
title: Speaker Verification
description: Speaker verification system using a Siamese Neural Network
img: assets/img/projects/speaker_verification.png
redirect: https://github.com/benseddikismail/speaker-verification
importance: 10
category: Human-Centered AI & Cognitive Modeling
---

